<template>
	<div>
  	<b-button class="btn-open-close" variant="light" @click='show_menu=!show_menu'>
  		<font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
  	</b-button>
  	<b-button class="btn-open-close-right" variant="light" @click='show_menu_right=!show_menu_right'>
  		<font-awesome-icon icon="ellipsis-v"></font-awesome-icon>
  	</b-button>
		<div id="cursor_pointer"></div>
		<b-modal 
			href='modal_reg'
			id="modal_reg" 
			v-model="modals.reg"
			:title="form_reg.is_new ? $t('new'):$t('edit')"
			ok-title="Ok"
			:cancel-title="$t('cancel')" 
			@ok="form_proc" 
		>
			<div>
				<b-form-group 
					:label="$t('project_name')" 
				>
					<b-form-input 
						type="text" 
						v-model="form_reg.name"
						required
						v-on:keyup.enter="form_proc" 
						:placeholder="$t('project_name')" />
				</b-form-group>
				<b-form-checkbox
		      v-model=" form_reg.shared "
		      :value= '1'
      		:unchecked-value= '0'
		    >
		      {{$t('public')}}
		    </b-form-checkbox>
			</div>
		</b-modal>
    <div id="nav" :class="{visible:show_menu,scrolling_vertical:nav_scrolling_vertical}">
      <div>
        <b-card no-body>
			    <b-tabs card v-model="tabIndex" >
	        	<b-button class="btn-close" variant="light" @click='show_menu=!show_menu'>
	        		<font-awesome-icon icon="times"></font-awesome-icon>
	        	</b-button>
			      <b-tab active>
			      	<template slot="title">
			      		<font-awesome-icon icon="palette"></font-awesome-icon>
			      	</template>
			        <b-card-text>
			        	<span>Distance: {{distance1}}</span>
			        </b-card-text>
			      </b-tab>
			    </b-tabs>
			  </b-card>
      </div>
    </div>
    <div id="nav_right" :class="{visible:show_menu_right,scrolling_vertical:nav_right_scrolling_vertical}">
      <div>
        <b-card no-body>
			    <b-tabs card align='right' v-model="tabIndexRight" >
	        	<b-button class="btn-close-right" variant="light" @click='show_menu_right=!show_menu_right'>
	        		<font-awesome-icon icon="times"></font-awesome-icon>
	        	</b-button>
			      <b-tab :title="$t('profile')">
			        <b-card-text>

			        	<div v-show="profile.image_url!=''">
			        		<img :src="profile.image_url">
			        	</div>
			        	<div v-show="profile.firstname!=''">
			        		<span>{{profile.firstname}}</span>
			        	</div>
					    	<facebook-login v-if="!dev_mode" class="button fb-login"
						      appId="728135517275940"
						      version="v3.3"
						      data-button-type="login_with" 
						      data-size='large'
						      @login="fbLogin"
						      @logout="fbLogout"
						      @get-initial-status="fbGetUserData"
						      :loginLabel="$t('login_with_facebook')"
						      :logoutLabel="$t('logout_from_facebook')"
						      >
						    </facebook-login>
			        </b-card-text>
			      </b-tab>
			      <b-tab :title="$t('how_to_use')">
			        <b-card-text>
			        	<how-to-use></how-to-use>
			        </b-card-text>
			      </b-tab>
			    </b-tabs>
			  </b-card>
			  <InFeedAdsense v-if="!dev_mode" 
				    data-ad-layout-key="--6t+ed+2i-1n-4w"
				    data-ad-client="ca-pub-6209186190244737"
				    data-ad-slot="7034000496">
				</InFeedAdsense>
      </div>
    </div>
		<div id="canvas_container"></div>
	</div>
</template>

<script>

import Vue from 'vue'
import {init} from "@/assets/js/main.js";
import PointLockControl from "@/assets/js/pointLockControl.js";
import { Sketch } from 'vue-color'
Vue.component('sketch-picker',Sketch);

const jQuery = require('jquery');

import axios from 'axios' 
import VueAxios from 'vue-axios' 

Vue.use(VueAxios, axios)

import facebookLogin from '@/components/facebook-login';

Vue.component('facebook-login',facebookLogin); 

const server_api = process.env.VUE_APP_SERVER_API;

const dev_mode = process.env.NODE_ENV === 'development';



const Swal = require('sweetalert2')

const url_server = `${server_api}/projects`
const url_test = /test/.test(window.location.toString());


import HowToUse from '@/components/HowToUse'
Vue.component('how-to-use',HowToUse)

export default {
	data(){
		return {
			dev_mode:dev_mode,
			distance1:0,
			app:null,
			plock:null,
			show_menu:true,
			show_menu_right:false,
			colors:{r: 255, g: 0, b: 0},
			projects:[{id:1,name:'New',updated_at:'',created_at:'',selected:1,shared:0}],
			token:'',
			form_reg:{
				name:'',
				is_new:true,
				shared:0,
				background_color:'#000000',
			},
			selected:{
				reg:{},
				id:0,
			},
			from_edit_current:false,
			last_project_id:-1,
			current_project_id:-1,
			modals:{
				reg:false,
			},
			typing:false,
			profile:{
				image_url:'',
				firstname:'',
			},
			nav_scrolling_vertical:false,
			nav_right_scrolling_vertical:false,
			window_resize:false,
			tabIndex:1,
			tabIndexRight:2,
			color_for:{
				selected:'v',
	      options: [
	        { text: 'Voxel', value: 'v' },
	        { text: 'Background', value: 'b' },
	      ],
			},
		};
	},
	mounted(){
		if(dev_mode)console.log(" >>>>>>>>>> Home mounted 2");
		if(dev_mode){
			if(typeof window.req_anim =='number')window.cancelAnimationFrame(window.req_anim);
		}
    let _this = this;
    jQuery(window).keyup(function(evt){
      if(evt.key=="Escape"){
        //_this.show_menu = !_this.show_menu;
      }
    });
    setInterval(function(){
    	if(_this.window_resize){
	    	_this.onWindowResize();
    	}
    },600);
    jQuery(window).resize(function(evt){
    	_this.window_resize = true;
    });
    _this.onWindowResize();
		let capp = init(_this);
		this.plock = PointLockControl.getInstance(capp);
		this.app = capp;
		capp.selected_color = this.colors.hex ? this.colors.hex : "#ffffff";
		this.setAxiosToken();
		if(this.token!='' || dev_mode)this.getLists();
	},
	methods:{
		onWindowResize(){
			let v1 = jQuery("#nav>div").height();
    	let v2 = window.innerHeight;
    	let v3 = jQuery("#nav_right>div").height();
    	let v4 = window.innerHeight;
    	let scrolling1 = v1>=v2;
    	let scrolling2 = v3>=v4;

    	this.nav_scrolling_vertical = scrolling1;
    	this.nav_right_scrolling_vertical = scrolling2;
    	this.window_resize = false;
		},
		fbCheck:function(evt){
			if(dev_mode)console.log("server_api",server_api);
			if(url_test)console.log("fb => ",evt);
			let _this = this;
			let token = evt && evt.authResponse ? evt.authResponse.accessToken : null;
			token = evt && evt.response && evt.response.authResponse ? evt.response.authResponse.accessToken : token;
			this.token = typeof token == 'string' ? token : '';
			this.setAxiosToken();
 	 		if(token!='' && window.FB && FB.getUserID()){
 	 			this.profile.image_url = `https://graph.facebook.com/${FB.getUserID()}/picture`;
				this.axios.post(`${server_api}/check_provider`,{},{
						headers:{
	      		},
	      	}
				).then((response) => {
				 	if(dev_mode)console.log(response);
				 	_this.profile.firstname = response.data.profile.firstname || response.data.profile.name;
				})
				.catch(function (err) {
	    			// handle error
	    			if(dev_mode){
		      		console.log(err);
		      		console.log(err.response); 
	    			}
	 	 		});
 	 		}else{
 	 			this.last_project_id = this.current_project_id = 1;
 	 		}
		},
		fbLogin(evt){
			if(dev_mode)console.log(evt);
			this.fbCheck(evt);
			/*
			FB: {__globalCallbacks: {…}, api: ƒ, AppEvents: {…}, getLoginStatus: ƒ, getAuthResponse: ƒ, …}
			response: {authResponse: {…}, status: "connected"}
			__proto__: Object
			*/
		},
		fbLogout(evt){
			if(dev_mode)console.log(evt);
			/*
			authResponse: {accessToken: "EAAFa03UW4KABAH2kjnt3R3Xr9WlPrFyI90C92alqbwDjA5XCs…Y0QcN1kL9ejLnFA1Fp5Y9PPWLPxtAR2zess3QKNjkSQ9QZDZD", userID: "10210236492908498", expiresIn: 5724, signedRequest: "h3jS6TZtV3qn---DYG_nX6TzvFVfdFv8Yid9rJLxOg0.eyJjb2…JITUFDLVNIQTI1NiIsImlzc3VlZF9hdCI6MTU2MDcyNzQ3Nn0", reauthorize_required_in: 7776000, …}
			status: "unknown"
			*/
		},
		fbGetUserData(evt){
			if(dev_mode)console.log(evt);
			this.fbCheck(evt);
			/*
			authResponse:
			accessToken: "EAAFa03UW4KABAH2kjnt3R3Xr9WlPrFyI90C92alqbwDjA5XCs9CqrgzrSOLN3lil8kOe7kEu2oocQHhTVZAR1Ex6byySqGgmE1d9efISZAHHHZCZBqRroyxrtYZCuZBFidblerBcoz3b5tZB5pEJ9ZAyWnlWMacFIY0QcN1kL9ejLnFA1Fp5Y9PPWLPxtAR2zess3QKNjkSQ9QZDZD"
			data_access_expiration_time: 1568503476
			expiresIn: 5724
			reauthorize_required_in: 7776000
			signedRequest: "h3jS6TZtV3qn---DYG_nX6TzvFVfdFv8Yid9rJLxOg0.eyJjb2RlIjoiQVFEdVUySzlRd0lwR0hySW9WVmJQalpDUjU1SGdsU255ZTJKczlLRFgyaEw1WFdjd2NIWDdDZnlRWEdhNTg3WTUtSmNCcnRhc2pLQmdJTk15MW5rcnNaXzdsV2MxSE9DSWlSMXJuZUsyRWQ1bjlkSHp0Y2d3d1BqS2tXZVFmZDd1a2Y3RW5jU3NKb2NnTEVLbWs2c29ZamFoRFhWSWdqdndRNDJENTVpN1p4b3Fwb3VSbkIwa1hHb2ZkM0ttQkZDcGs3MEdMMm50aWNXMEFIRWhSZnNzcGpQbThNZFRNb2hyTDVncVpLb0R3ZnpEczltRTNpb1lTbXdPemp1ZWpNckF5MHVMcG12b1dRVWxCOVF2TzBmZXgydXlsOEk0Z3NiMng0blpTR0JPVmlMWjZqZzA5eDNqSGVidDlPWjBZOHhiY1RJWGNKcDE1OVNkRDhjMUNtTllTTGMiLCJ1c2VyX2lkIjoiMTAyMTAyMzY0OTI5MDg0OTgiLCJhbGdvcml0aG0iOiJITUFDLVNIQTI1NiIsImlzc3VlZF9hdCI6MTU2MDcyNzQ3Nn0"
			userID: "10210236492908498"
			__proto__: Object
			status: "connected"
			*/
		},
		getLists(){
			return;
			let _this = this;
			_this.msg = _this.$i18n.t('wait_please');
			this.axios.get(url_server,{ 
				headers:{  
					'Accept':'application/json', 
					'Content-Type':'application/json',
				},
				params:{ 
				}, 
			}).then(
			function(response){
				if(dev_mode)console.log(response);
				let d,idx,found;
				let pass = false;
				if(response && response.data){
					if(Array.isArray(response.data) && response.data.length>0){
						pass = true;
						for(idx in response.data){
							d = response.data[idx];
							d.selected = 0;
						}
						if(_this.current_project_id==-1){
							d = response.data[0];
							_this.current_project_id = d.id;
							_this.form_reg.name = d.name;
							d.selected = 1;
						}else{
							found = false;
							for(idx in response.data){
								d = response.data[idx];
								if(_this.current_project_id == d.id){
									found = true;
									break;
								}
							}
							if(!found){
								d = response.data[0];
								d.selected = 1;
								_this.current_project_id = d.id;
								_this.form_reg.name = d.name;
							}
						}
					}
					_this.projects = response.data;
					_this.msg = _this.$i18n.t('ready');
				}else{
					_this.msg = _this.$i18n.t('without_registers');
				}
				if(!pass){
					_this.current_project_id = -1;
					_this.projects.splice(0);
				}
				_this.update_scene();
			}).catch(function(err){
				if(dev_mode){
					console.log(err);
					console.log(err.response);
					console.log(err.status);
				}
				_this.msg = _this.$i18n.t('error_while_fetching_data');
				if(err && err.response){
					if(err.response.status==401){
						_this.$store.commit('showModalLogin');
					}
				}
			}); 
		},
		edit_current(){
			this.form_reg.is_new = false;
			this.selected.reg.id = this.current_project_id;
			this.form_proc();
			this.from_edit_current = true;
		},
		please_identify(){
			Swal.fire(
				this.$i18n.t('unidentified_user'),
				this.$i18n.t('please_identify'),
				'question'
			);
			this.show_menu_right = true;
			this.onWindowResize();
		},
		form_proc(){ 
			let _this = this; 
			if(this.token=='' && !dev_mode){
				this.please_identify();
				return;
			}
			let str = _this.form_reg.is_new ? '{}':(_this.selected.reg.id == _this.current_project_id ? JSON.stringify(this.app.objects_set) : null);
			let _data = { 
				name: _this.modals.reg ? _this.form_reg.name : null, 
				data:str,
				shared:  _this.from_edit_current ? undefined : _this.form_reg.shared ,
				background_color:  _this.form_reg.is_new ? '#000000' : _this.form_reg.background_color ,
			};
			_this.from_edit_current = false;
			if(dev_mode)console.log("form_proc data => ",_data);
			let id = _this.selected.reg.id;
			_this.axios({
				url:`${url_server}/${_this.form_reg.is_new ? '' : id}`,
				method:(!_this.form_reg.is_new ? 'PUT':'POST'),
				data:_data,
				headers:{ 
						'Content-Type':'application/json',
				}, 
			}).then(
				function(response){
					if(dev_mode)console.log(response); 
					let title = _this.form_reg.is_new ? _this.$i18n.t('new_project'):_this.$i18n.t('edit_project');
					let desc = _this.form_reg.is_new ? _this.$i18n.t('register_has_been_created'):_this.$i18n.t('register_has_been_edited');
					Swal.fire(
							title,
							desc,
							'success'
					);
					_this.getLists();
			}).catch(
				function(err){
					if(dev_mode){
						console.log(err);
						console.log(err.response);
						console.log(err.status);
					}
					let pass = true;
					if(err && err.response){
						if(err.response.status==401){
							pass = false;
							_this.$store.commit('showModalLogin');
						}
					}
					if(pass){
						let title = _this.form_reg.is_new ? _this.$i18n.t('new_project'):_this.$i18n.t('edit_project');
						let desc = _this.form_reg.is_new ?  _this.$i18n.t('register_has_not_been_created'):_this.$i18n.t('register_has_not_been_edited');
						Swal.fire(
								title,
								desc,
								'warning'
						);
					}
			});  
		},
		edit(item){
			if(dev_mode)console.log("edit => ",item);
			this.selected.reg = item;
			this.form_reg.is_new=false;
			this.form_reg.name = item.name;
			this.form_reg.shared = item.shared;
			this.form_reg.background_color = item.background_color;
			this.modals.reg = true;
		},
		del(reg){
			if(this.token=='' && !dev_mode){
				this.please_identify();
				return;
			}
			this.selected.reg = reg;
			let _this = this;
			let id = reg.id;
			Swal.fire({
				title: _this.$i18n.t('sure_want_delete'),
				text: _this.$i18n.t('cant_be_recovered'),
				type: 'warning',
				showCancelButton: true,
				confirmButtonText: _this.$i18n.t('delete'),
				cancelButtonText: _this.$i18n.t('cancel')
			}).then((result) => {
				if (result.value) { 
					_this.axios.delete(`${url_server}/${id}`,{
						headers:{
							'Accept':'application/json',
							'Content-Type':'application/json',
						}
					})
					.then(
						function(response){
								if(dev_mode)console.log(response);
								Swal.fire(
										_this.$i18n.t('deleted'),
										'El registro fue eliminado',
										'success'
								);
								_this.getLists();
						}
					).catch(function(err){
						if(dev_mode){
							console.log(err);
							console.log(err.response);
							console.log(err.status);
						}

						Swal.fire(
							_this.$i18n.t('notification'),
							_this.$i18n.t('register_has_not_been_removed'),
							'error'
						);
						if(err && err.response){
							if(err.response.status==401){
								_this.$store.commit('showModalLogin')
							}
						}
					}); 
				} else if (result.dismiss === Swal.fire.DismissReason.cancel) {
					Swal.fire(
						_this.$i18n.t('canceled'),
						_this.$i18n.t('the_elimination_was_canceled'),
						'warning'
					)
				}
			});
		},
		setAxiosToken(){
			this.axios.defaults.headers.common['X-ACCESS-TOKEN'] = this.token;
		},
		update_scene(){
			if(this.current_project_id!=-1 && this.last_project_id != this.current_project_id){
				this.last_project_id = this.current_project_id;
				let project = null;
				let found = false;
				for(let idx in this.projects){
					project = this.projects[idx];
					if(project.id == this.current_project_id){
						found = true;
						break;
					}
				}
				let json = {};
				if(found){
					try{
						json = jQuery.parseJSON(project.data);
					}catch(e){
						if(dev_mode)console.log(e.stack);
						json = {};
					}
					this.app.setBackground('b',project.background_color);
				}
				this.app.putObjects(json);
			}
		},
	},
	watch:{
		'colors':function(new_val,old_val){
			this.app.selected_color = new_val.hex;
    	if(this.color_for.selected == 'b'){
				this.form_reg.background_color = new_val.hex ? new_val.hex : '#000000';
    		this.app.setBackground(this.color_for.selected,this.form_reg.background_color);
    	}
		},
		'token':function(new_val,old_val){
    	this.setAxiosToken();
    	this.getLists();
		},
		'current_project_id':function(new_val,old_val){
    	this.update_scene();
		},
		'show_menu_right':function(new_val,old_val){
    	if(new_val){
    		this.window_resize = true;
    	}
		},
		'show_menu':function(new_val,old_val){
    	if(new_val){
    		this.window_resize = true;
    	}
		},
		'tabIndex':function(new_val,old_val){
    	this.window_resize = true;
		},
    $route (to, from){
    	if(dev_mode)console.log(" >> WATCH HOME route change => ",to,from);
			this.app.reset();
			this.getLists();
    },
    'color_for.selected':function(new_val,old_val){
    }
	},
	props:{

	}
}
</script>
<style lang="scss" scoped>
@import "@/assets/scss/_global.scss";
#nav{
	>div{
    width: 350px;
	}
  left: -400px;
}
#nav_right{
	>div{
    width: 350px;
	}
  right: -400px;
}
</style>
