<template>
	<div>
		<label>{{$t('how_to_use_desc')}}:</label>
  	<ul id="how_to_use">
  		<li><b-btn variant="success" size="sm">A</b-btn>&nbsp;{{$t('to_left_move')}}</li>
  		<li><b-btn variant="success" size="sm">D</b-btn>&nbsp;{{$t('to_right_move')}}</li>
  		<li><b-btn variant="success" size="sm">W</b-btn>&nbsp;{{$t('to_front_move')}}</li>
  		<li><b-btn variant="success" size="sm">S</b-btn>&nbsp;{{$t('to_back_move')}}</li>
  		<li><b-btn variant="success" size="sm">E</b-btn>&nbsp;{{$t('to_go_down')}}</li>
  		<li><b-btn variant="success" size="sm">Q</b-btn>&nbsp;{{$t('to_go_up')}}</li>
  		<li><b-btn variant="success" size="sm">B</b-btn>&nbsp;{{$t('to_turn_off_button')}}</li>
  		<li><b-btn variant="success" size="sm"><font-awesome-icon icon="mouse-pointer"></font-awesome-icon></b-btn>&nbsp;{{$t('pointer_lock_control')}}</li>
  		<li>{{$t('left_click')}}</li>
  		<li>{{$t('shift_left_click')}}</li>
  	</ul>
  	<label>{{$t('any_question')}}&nbsp;:&nbsp;<a href="mailto:ecavaloss@gmail.com">ecavaloss@gmail.com</a></label>		
	</div>	
</template>
<script>
export default{
	data(){	
		return {
			name:"how to use",
		};
	},
	mounted(){

	},
	methods:{

	},
	watch:{

	},
	props:{

	}
}
</script>
<style lang="scss">
	#how_to_use{
		max-height: 140px;
		overflow-y: scroll;
		padding-left: 2px;
	}
</style>