<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<script>
import Vue from 'vue'
import VueCookies from 'vue-cookies'
Vue.use(VueCookies)
VueCookies.config('7d')
const jQuery = require('jquery')

import Ads from 'vue-google-adsense'
 
Vue.use(require('vue-script2'))
 
Vue.use(Ads.Adsense)
Vue.use(Ads.InArticleAdsense)
Vue.use(Ads.InFeedAdsense)

import VueMeta from 'vue-meta'

Vue.use(VueMeta)

Vue.use(require('vue-moment'));


export default{
  data(){
    return {
      show_menu:false,
    };
  },
  mounted(){

  },
  methods:{

  },
  watch:{
    $route (to, from){
    }
  },
  props:{

  },
  metaInfo:{
    title: 'Shooter',
    titleTempalte: '%s | Arquigames',
    htmlAttrs: {
        lang: 'es',
        amp: '' // "amp" has no value
    },
    meta:[
      {name: 'Content-Type', content: 'text/html; charset=utf-8'},
      {name: 'viewport', content: 'width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'},
      {name: 'description', content: 'I have things here on my site.'}
    ]
  },
}
import 'bootstrap/dist/css/bootstrap.css'
import 'bootstrap-vue/dist/bootstrap-vue.css'
</script>

<style lang="scss">
@import "@/assets/scss/_global.scss";
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  color: #2c3e50;
  padding: 0px;
  margin: 0px;
}
</style>
